html, body{
  margin: 0 auto;
  height: 100%;
}

nav .widerscr{
  font-family: 'Raleway Dots', cursive;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.maintitle{
      color: rgba(250, 0, 0, .8);
      font-size: 10vw;
      text-align: center;
      font-family: 'Codystar', cursive;
      text-shadow: 2px 2px gold;
      animation: flash 4s linear 2s infinite alternate;
      }

  @keyframes flash{
    0%  {color: rgba(0,0,0,.8); text-shadow: 2px 2px red; }
    25% {color: rgba(250,0,0,.8); text-shadow: 2px 2px gold; }
    50% {color: rgba(0,0,0,.8); text-shadow: 2px 2px red; }
    75% {color: rgba(250,0,0,.8); text-shadow: 2px 2px black; }
    100% {color: rgba(0,0,0,.8); text-shadow: 2px 2px red; }
  }


.topnav:link {
  color: silver;
  text-decoration: none;
}

 /* footer visited link */
 .topnav:visited {
   color: silver;
   text-decoration: none; }


.App {
  height: 100%;
  text-align: center;
}


.App-header {
  background-color: #223;
  height: 20%;
  color: white;
}

.innerStory h3 {
   opacity:0.8;
   font-weight: bold;
   font-family: 'Raleway Dots', cursive;
   /* text is in one line */
    white-space:nowrap;
    overflow:hidden;
    border-right: 1vh solid transparent;
    -webkit-animation: typing 2s steps(30, end),
                        blink-cursor 1s step-end;
    -moz-animation: typing 2s steps(30, end),
                        blink-cursor 1s step-end;
  }

.innerStory h4 {
   opacity:0.8;
   font-family: 'Raleway Dots', cursive;
   white-space:nowrap;
    overflow:hidden;
    border-right: 1vh solid black;
    -webkit-animation: typing 2s steps(40, end),
                        blink-cursor 1s step-end infinite;
    -webkit-animation-delay:2s;
    -webkit-animation-fill-mode:both;
    -moz-animation: typing 2s steps(40, end),
                        blink-cursor 1s step-end infinite;
    -moz-animation-delay:2s;
    -moz-animation-fill-mode:both;
}


@-webkit-keyframes typing {
    from { width: 0; }
    to { width:100%; }
}

@-moz-keyframes typing {
    from { width: 0; }
    to { width:100%; }
}

@-webkit-keyframes blink-cursor {
    0%, 100% { border-color: transparent }
    50% { border-color: black }
}

@-moz-keyframes blink-cursor {
    0%, 100% { border-color: transparent }
    50% { border-color: black }
}


.homeParallax {
     /*position: absolute;*/
     /*To support older browsers*/
    height: 100%;
    width: 100%;
    /* Set the height to match that of the viewport. */
    height: 100vh;
    /* Set the width to match that of the viewport. */
    width: 100vw;
    position: relative;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.homecontent{
  background-color: rgba(255, 255, 255, 1);
  width: 100vw;
}


.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

.caption span.insidepic {
   font-family: 'Codystar', cursive;
    background-color: #111;
    color: white;
    line-height: 12vh;
    padding: 2vw;
    font-size: 5vh;
    letter-spacing: 10;
}


.poemTitle{
  font-family: 'Raleway Dots', cursive;
  font-size: 1.3em;
  margin-left: 0.03%;
  margin-top: 20%;
  }

.pagebkg {
     display: flex;
      /*flex-flow: row wrap; */
     /*position: absolute;*/
     /*To support older browsers*/
    height: 100%;
    width: 100%;
    /* Set the height to match that of the viewport. */
    height: 100vh;
    /* Set the width to match that of the viewport. */
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Contact Page*/


.contact h1{
  font-family: 'Atomic Age', cursive;
  margin-bottom: 20%;
  position: fixed;
  animation: flick 30s infinite;
}


@keyframes flick {
   0% {color: rgba(200, 50, 100, 1);}
  25% {color: rgba(255, 255, 255, 1);}
  50% {color: rgba(200, 50, 100, 1); }
  75% {color: rgba(255, 255, 255, 1);}
  100% {color: rgba(200, 50, 100, 1); }
}

.contactme{
  width: 33%;
  position: relative;
  z-index: 2;
  transform:  rotate(-20deg);
  margin-left: 27%;
  top: 15%;
}


.grow {
  transition: all .4s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

.newcolor{
  font-family: 'Atomic Age', cursive;
  text-shadow: 2px 2px black;
}


@-webkit-keyframes swing {
    0% { -webkit-transform: rotateX(-90deg); }
    30% { -webkit-transform: rotateX(50deg); }
    50% { -webkit-transform: rotateX(-40deg); }
    70% { -webkit-transform: rotateX(20deg); }
    90% { -webkit-transform: rotateX(-10deg); }
  }



.projectcontent {
       margin-top: 5%;
       width: 100%;
      height: 100%;
      -webkit-animation: wobble .75s 3.5s;
  }

@-webkit-keyframes wobble {
    15% { -webkit-transform: translateX(-10%) rotate(-5deg); }
    30% { -webkit-transform: translateX(5%) rotate(3deg); }
    45% { -webkit-transform: translateX(-5%) rotate(-3deg); }
    60% { -webkit-transform: translateX(3%) rotate(2deg); }
    75% { -webkit-transform: translateX(-2%) rotate(-1deg); }
  }

  .projectcontainer {
    width: 100%;
    margin: 100px auto;
    perspective: 1100px;
  }


  .projectcontent {
      -webkit-animation: swing 3s ease-in-out;
      -webkit-transform-origin-y:  0;
    }
